body {
  background-color: white;
  font-family: Barlow Semi Condensed;
  color: rgb(0, 0, 0);
}

header {
  background-color: #000000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: white;
  border: 5px solid;
  border-radius: 20px;
  border-color: #daa520;
  font-size: 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

header img {
  width: 80px;
  height: auto;
  align-items: center;
}
section h2 {
  color: #000000;
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}

section img {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: auto;
  align-items: center;
}

section h3 {
  color: #000000;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.Vila-Belmiro {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  scroll-snap-type: x mandatory;
  padding: 10px;
  color: white;
}

.Vila-Belmiro img {
  object-fit: cover;
  border-radius: 10px;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 400px;
  height: 250px;
}

.seção {
  background-color: #000000;
  padding: 60px 0;
  margin-top: 100px;
  border-radius: 20px;
  border: 5px solid;
  border-color: #daa520;
}

.Títulos {
  color: white;
  width: 80%;
  margin: auto;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  margin-top: 50px;
}

.item img {
  height: auto;
  width: 300px;
  object-fit: cover;
  margin-left: 40px;
  border: 3px solid;
  border-radius: 10px;
  border-color: #daa520;
}

.texto {
  flex: 1;
  margin-right: 10px;
}

.Títulos h4 {
  font-size: 50px;
  text-align: center;
  margin: top 10px;
}

.Títulos h5 {
  font-size: 30px;
}

.Títulos p {
  font-size: 20px;
}
